{{ define "main" }}
<main>
  <div class="container padding-bottom-40">
    <div class="col-sm-16">
      <h1>{{.Title}}</h1>
      {{ range where .Data.Pages "Type" "index" }}
      {{.Content}}
      {{end}}
    </div>
    <div class="col-sm-8 padding-top-30">
      <div class="news-list">
        <div class="news-list-col margin-bottom-40">
          <h2 class="heading-line">
            <span>News</span>
          </h2>
          {{ range first 2 ((where .Data.Pages "Type" "news" ).ByDate.Reverse) }}
          <ul class="news-list-media list-unstyled">
            <li>
              <a href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}" class="media media-link">
                <p class="media-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
                <h4 class="media-heading">{{ .Title }}</h4>
                <p class="media-text">{{ .Summary }}</p>
              </a>
            </li>
          </ul>
          {{ end }}
          <ul class="list-inline news-list-links">
            <li class="news-list-links-view-all"><a href="news/">View all</a></li>
            <li class="news-list-links-rss"><a href="news/index.xml" title="Subscribe to our RSS-feed">Subscribe to our RSS-feed <i class="fa fa-rss"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}